@CHARSET "ISO-8859-1";

.bold {
	font-weight: bold;	
}


#page-map {
	height:400px;
	width:740px;
	float:left;
}

.locationTable-container {
	height:300px;
	width:740px;
	overflow:auto;
	border:1px solid #747170;
}

.locationTable-table { 
	border-spacing:0;
	border-collapse:collapse;
	width:100% 
}

.locationTable-table > thead > tr > th {
	background-color:#E6E6E6;
	border:1px solid #AAAAAA;
	padding: 2px 20px 2px 5px;	
	font-size: 12px;	
}

.locationTable-table > tbody > tr > td {
	border:1px solid #AAAAAA;
	padding: 2px 20px 2px 5px;
	font-size: 12px;	
}


fieldset {
	border:1px solid #CFCFCF;
	width:600px;
	padding:20px;
	margin-bottom:20px;
}

legend {
	font-weight: bold;	
}

.divRow {
	display:inline-block;	
}

.firstCell {
	width:200px;
	float:left;	
}

.secondCell {
	width:300px;
	float:left;
}

.required {
	color:red;	
}

.big-ajax-loader {
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: middle;
	background: #FFFFFF url(small-ajax-loader.gif) no-repeat scroll center center;	
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-datepicker-current { display: none; } /* hide now button */